<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dmattd.shopdeviceonline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ChoxacnhanActivity"></activity>
        <activity android:name=".activity.QuanlyCMTActivity" />
        <activity android:name=".activity.QuanlydonActivity" />
        <activity android:name=".activity.QuanlyToiActivity" />
        <activity android:name=".activity.XacnhanmatkhauActivity" />
        <activity android:name=".activity.SuaMatKhauActivity" />
        <activity android:name=".activity.SuaDiachiActivity" />
        <activity android:name=".activity.SuaRepCommentActivity" />
        <activity android:name=".activity.SuaTenActivity" />
        <activity android:name=".activity.TraloiCommentActivity" />
        <activity android:name=".activity.XacnhanThanhtoanActivity" />
        <activity android:name=".activity.HinhthucThanhtoanActivity" />
        <activity android:name=".activity.DiachiThanhtoanActivity" />
        <activity android:name=".activity.SuaCommentActivity" />
        <activity android:name=".activity.ThongtinKhachhangActivity" />
        <activity android:name=".activity.LoaiSanPhamAcc" />
        <activity android:name=".activity.DangnhapActivity" />
        <activity android:name=".activity.DangkyActivity" />
        <activity android:name=".activity.GiohangActivity" />
        <activity android:name=".activity.ChitietSanpham" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Sanpham1Activity" />
    </application>

</manifest>